img {
    width: 40%;
    margin: 4%
}

section img {
    width: 30%;
    margin: calc(10%/7);
}

nav {
    font-family: Raleway;
    font-size: 1.5em;
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 40%;
    margin-left: 4%;
    padding: 0.8em 0;
}